#Backend
NODE_ENV=docker
REDIS_URL=redis://redis:6379
DATABASE_URL=postgres://wikibouquin_user:securepassword123@db:5432/wikibouquin
JWT_SECRET=changeme
REFRESH_SECRET=changeme
FRONTEND_URL=http://frontend:5173

#Frontend
VITE_API_URL=http://localhost:3000

POSTGRES_USER: wikibouquin_user
POSTGRES_PASSWORD: securepassword123
POSTGRES_DB: wikibouquin